nibabel==3.1.1
tensorwatch==0.9.1
matplotlib==3.3.1
pandas==1.1.2
tqdm==4.48.2
monai==0.3.0
opencv_python==4.4.0.42
pathlib2==2.3.5
connected_components_3d==2.0.0
numpy==1.19.2
scipy==1.5.2
torch==1.6.0
torchsummary==1.5.1
albumentations==0.4.6
scikit_image==0.17.2
torchscan==0.1.1
torchvision==0.7.0
click==7.1.2
GeodisTK==0.1.7
scikit_learn==0.24.2
skimage==0.0
tensorboardX==2.4
